name: Push
on: push

jobs:
  check:
    runs-on: ubuntu-latest
    environment:
      name: testytest
    steps:
      - run: |
          set -e ${RUNNER_DEBUG:+-x}
          curl https://bux.re

  events:
    runs-on: ubuntu-latest
    steps:
      - name: Events
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh api users/${{ github.repository_owner }}/events/public -q length

  toml:
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repo
        uses: actions/checkout@v5

      - name: Parse toml
        id: toml
        uses: sebrollen/toml-action@v1.2.0
        with:
          file: test.toml
          field: ${{ true && 'route' || 'env.test.route' }}

      - name: Output value
        run: echo ${{ steps.toml.outputs.value }}
