name: Push
on: push

jobs:
  check:
    runs-on: ubuntu-latest
    environment:
      name: testytest
    steps:
      - run: |
          set -e ${RUNNER_DEBUG:+-x}
          curl https://bux.re

  events:
    runs-on: ubuntu-latest
    steps:
      - run: |
          gh api users/${{ github.repository_owner }}/events/public
